body {
  background: conic-gradient(from 180deg, #00203F, black, #082946);
  overflow-x: hidden;
  font-size: 22px;
  color: #F6F7F8;
}

h3 {
  padding-inline: 30px;
}
h3 a:hover, h3 .active-nav {
  color: #ADEFD1;
  font-weight: 700;
  text-shadow: -4px 2px rgba(224, 247, 250, 0.2784313725);
  border-bottom: 3px solid #ADEFD1 !important;
  text-decoration: none;
}

h1 span {
  border-radius: 25px;
  background: black;
  padding: 14px;
  box-shadow: -10px 10px 10px 4px #082845;
  color: #F6F7F8;
}

.h-500 {
  height: 500px;
}

.h-600 {
  height: 600px;
}

.h-1000 {
  height: 1000px;
}

.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-500 {
  width: 500px;
}

.w-700 {
  width: 700px;
}

.w-900 {
  width: 900px;
}

.fs-18 {
  font-size: 18px;
}

.fs-22 {
  font-size: 22px;
}

.fs-60 {
  font-size: 60px;
}

.fs-130 {
  font-size: 130px;
}

#circle-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: #D4F1F4;
  background: radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.9), rgba(173, 216, 230, 0.6) 40%, rgba(0, 191, 255, 0.4));
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.6), 5px 5px 15px rgba(0, 0, 0, 0.5019607843);
  border: 2px solid rgba(173, 216, 230, 0.5);
  opacity: 1;
}

.circle::after {
  content: "";
  position: absolute;
  top: 10%;
  left: 10%;
  width: 50%;
  height: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8), transparent);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.skills {
  margin: 25px 50px;
  box-shadow: -8px 5px 13px -1px #082845;
  width: 145px;
  padding: 10px;
  border-radius: 30px;
}
.skills img {
  height: 80px;
  filter: drop-shadow(-7px 3px 1px #082845);
}

.skills:hover {
  box-shadow: 0px 0px 70px 0px #64B5F6;
}

.active {
  text-decoration: underline;
}

.nav-item {
  color: #F6F7F8;
}

.footer {
  background: black;
  color: #F6F7F8;
  box-shadow: 0px -6px 16px -10px #ADEFD1;
}

.hello {
  font-family: "Grey Qo", cursive;
  font-size: 180px !important;
  text-shadow: 10px 6px #082845;
}

.icon-style i {
  font-size: 40px;
  display: inline-block;
  color: #F6F7F8;
  background: black;
  border-radius: 50%;
  border: 1px solid #F6F7F8;
  padding: 10px 22px;
  margin: 10px;
}
.icon-style i:hover {
  background: #F6F7F8;
  color: black;
}

.border-bottom {
  border-bottom: 3px solid !important;
  padding-inline: 10px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursive {
  font-family: cursive;
}

.carousel-item img {
  height: 520px !important;
  padding: 0px 37px 114px 30px;
  filter: drop-shadow(0px 0px 35px white);
}
.carousel-item .carousel-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 55, 87, 0.2588235294);
  color: #ADEFD1;
  padding: 25px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s ease;
  border-radius: 34px;
  height: 35%;
}
.carousel-item .carousel-caption:hover {
  opacity: 1;
}

.box {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 34px;
  box-shadow: inset 0px -32px 33px -13px black;
}

video {
  border-radius: 34px;
  width: 700px;
}

nav img {
  height: 150px;
  position: relative;
  top: -25px;
  right: 25px;
}

/*# sourceMappingURL=style.css.map */
