// Color Variables
$background-color: #201E43;
$primary-color: #134B70;
$secondary-color: #508C9B;
$accent-color: #ADEFD1;
$text-color: #F6F7F8;
$bubble-gradient: #D4F1F4;
$bubble-shadow: black;
$shadow: black;

body {
  background: conic-gradient(from 180deg, $background-color, $primary-color, $secondary-color);
  overflow-x: hidden;
  font-size: 22px;
  color: $text-color;
}

.offcanvas {
  background-color: $background-color;
  color: $text-color;
  font-size: 25px;
  width: 400px;
  padding: 30px;
}

h4 {
  padding-inline: 30px;
  margin-bottom: 20px;

  a:hover, .active-nav {
    color: $accent-color;
    font-weight: 700;
    text-shadow: -4px 2px #e0f7fa47;
    border-bottom: 3px solid $accent-color !important;
    text-decoration: none;
  }
}

@media (min-width: 1000px) and (max-width: 1300px) {
  h4 {
    padding-right: 8px;
  }
}

h2 span {
  border-radius: 25px;
  background: $primary-color;
  padding: 14px;
  box-shadow: -10px 10px 10px 4px $shadow;
  color: $text-color;
}

.margin-top-120 {
  margin-top: 120px !important;
}

.project-img {
  border-radius: 15px;
  height: 300px;
  width: 100%;
}

.project-card {
  margin: 10px !important;
  max-width: 550px !important;
  padding: 5px 12px;
}

// Height Classes
.h-500 {
  height: 500px;
}

.h-600 {
  height: 600px;
}

.h-1000 {
  height: 1000px;
}


// Width Classes
.w-50 {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-500 {
  width: 500px;
}

.w-700 {
  width: 700px;
}

.w-900 {
  width: 900px;
}


// Font-size Classes
.fs-18 {
  font-size: 18px;
}

.fs-22 {
  font-size: 22px;
}

.fs-60 {
  font-size: 60px;
}

.fs-50 {
  font-size: 50px;
}

.fs-40 {
  font-size: 40px;
}

.fs-130 {
  font-size: 130px;
}

#circle-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: $bubble-gradient;
  background: radial-gradient(circle at 30% 30%, rgba(255, 255, 255, 0.9), $background-color 40%, $primary-color);
  box-shadow: inset -5px -5px 15px rgba(255, 255, 255, 0.6), 5px 5px 15px #00000080;
  border: 2px solid rgba(173, 216, 230, 0.5);
  opacity: 0.2;
}

.circle::after {
  content: '';
  position: absolute;
  top: 10%;
  left: 10%;
  width: 50%;
  height: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.8), transparent);
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.skills {
  margin: 25px 50px;
  box-shadow: -8px 5px 13px -1px $shadow;
  width: 140px;
  padding: 10px;
  border-radius: 30px;

  img {
    height: 70px;
    filter: drop-shadow(-7px 3px 1px $bubble-shadow);
  }
}

.skills:hover {
  box-shadow: 0px 0px 18px 11px $shadow;
}

.nav-item {
  color: $text-color;
  text-decoration: none;
}

.footer {
  background: $primary-color;
  color: $text-color;
}

.hello {
  font-size: 80px !important;
  text-shadow: 10px 6px $shadow;
}

.icon-style i {
  font-size: 30px;
  display: inline-block;
  color: $text-color;
  background: $primary-color;
  border-radius: 50%;
  border: 1px solid $text-color;
  padding: 10px 20px;
  margin: 10px;

  &:hover {
    background: $text-color;
    color: $primary-color;
  }
}

.border-bottom {
  border-bottom: 3px solid !important;
  padding-inline: 10px;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cursive {
  font-family: cursive;
}

.carousel-item {
  img {
    height: 520px !important;
    width: 60%;
    padding: 0px 37px 114px 30px;
    filter: drop-shadow(2px 2px 0px white);
    margin: 0 auto;
    display: block;
  }

  .carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba($background-color, 0.8);
    color: $text-color;
    padding: 25px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 34px;
    height: 35%;

    &:hover {
      opacity: 1;
    }
  }
}

.box {
  max-width: 1000px;
  background: rgba($primary-color, 0.3);
  border-radius: 34px;
  box-shadow: inset 0px -32px 33px -13px $primary-color;
}

nav {
  img {
    height: 90px;
    position: relative;
    top: 0;
    right: 0;
    filter: drop-shadow(7px 2px 4px $shadow);
  }
}

.changing-text {
  @extend .fs-40;
  display: inline-block;
  white-space: nowrap;
  border-right: 2px solid $accent-color;
  color: $accent-color;
  font-family: cursive;
  font-style: italic;
}

.resume {
  position: fixed;
  bottom: 50px;
  right: 10px;
  background: $background-color;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 25px;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

video {
  width: 50%;
  padding-right: 15px;
}

.hi-image {
  filter: drop-shadow(2px 4px 19px white);
  width: 65%;
}

.education img {
  height: 100px;
  margin-left: .5rem !important;
  background: $text-color;
}

@media (max-width: 985px) {
  .hi-image {
    width: 70%;
    display: block;
    margin: 0 auto !important;
  }
  video {
    width: 100%;
  }
  .carousel-item img {
    width: 100%;
  }
}

.cursor-pointer {
  cursor: pointer;
}

p a {
  text-shadow: 2px 1px 1px black;
}

.fix-nav {
  position: fixed;
  background: rgba($background-color, 0.7);
  top: 0;
  width: 100%;
  z-index: 5;
  box-shadow: 0px -2px 6px 2px $secondary-color;
}

.project-arrow {
  position: relative;
  top: 0px;
  padding-right: 10px;
}

section {
  margin: 3rem;
}


@media (max-width: 768px) {

  body {
    font-size: 14px;
  }

  .hello {
    font-size: 60px !important;
  }

  .skills {
    margin: -3px -15px;
    box-shadow: 0 0 0 0;

    img {
      height: 50px;
      margin: 8px 10px;
    }
  }

  .contact-section i {
    font-size: 20px; /* Adjust as needed */
  }

  section {
    margin: 0 auto;
  }

  .year-cgpa {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .carousel-item img {
    height: 250px !important;
    padding: 0px 0px 40px 0px;
  }

  .fs-50 {
    font-size: 30px;
  }

  .fs-40 {
    font-size: 20px;
  }

  .offcanvas {
    width: 73vw !important;
  }

  .take-break {
    display: flex;
    flex-direction: column;

    .backend {
      padding-left: 0 !important;
    }
  }

  nav img {
    height: 60px;
  }

  .resume {
    display: none;
  }

  .education img {
    margin-bottom: 15px;
  }

  .box {
    background: rgba($primary-color, 0.1);
    margin: 0px 15px;
  }

  .project-img {
    height: 200px;
  }
}
