body {
    background: wheat;
    overflow-x: hidden;
    font-size: 22px;
    color: black;
}

h3 {
    padding-inline: 30px;
}

h3 a:hover {
    color: crimson;
    font-weight: 800;
    text-shadow: -4px 2px #dc35455c;
    border-bottom: 3px solid crimson !important;
    text-decoration: none;
}

h1 span {
    border-radius: 25px;
    background: crimson;
    padding: 14px;
    box-shadow: -10px 10px 10px 4px #721c24;
    color: white;
}

/*Width*/
.w-50 {
    width: 50%;
}

.w-70 {
    width: 70%;
}

.w-60 {
    width: 60%;
}

.w-700 {
    width: 700px;
}

/* Font-size */
.fs-60 {
    font-size: 60px;
}

.fs-18 {
    font-size: 18px;
}

.fs-22 {
    font-size: 22px;
}

.fs-130 {
    font-size: 130px;
}

#circle-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.circle {
    position: absolute;
    border-radius: 50%;
    background: rgb(255, 218, 185);
    background: linear-gradient(90deg, crimson 0%, rgba(189, 54, 47, 0.62) 100%);
}

.skills {
    margin-inline: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.skills img {
    height: 80px;
}

.arrow {
    margin-left: 100px;
    padding-left: 100px;
    font-size: 70px;
    text-shadow: 5px 0px darkgrey;
}

.move-left {
    margin-left: 300px;
}

.active {
    text-decoration: underline;
}

.nav-item {
    color: black;
}

.footer {
    background: linear-gradient(180deg, #dc3545 0%, #721c24);
    color: white;
}

.hello {
    font-family: "Grey Qo", cursive;
    font-size: 180px !important;
    text-shadow: 6px 4px #80808073;;
}

.icon-style i {
    font-size: 40px;
    display: inline-block;
    color: black;
    background: #dc3545;
    border-radius: 50%;
    border: 1px solid black;
    padding: 10px 22px;
    margin: 10px;
}

.icon-style i:hover {
    background: black;
    color: #dc3545;
}


.border-bottom {
    border-bottom: 3px solid !important;
    padding-inline: 10px;
}


.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursive {
    font-family: cursive;
}

.h-500 {
    height: 500px;
}

.h-1000 {
    height: 1000px;
}

.w-500 {
    width: 500px;
}

.carousel-item img {
    height: 450px !important;
    padding: 80px 100px 100px;
}

.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000000a8;
    color: white;
    padding: 10px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    border-radius: 0px 0px 34px 34px;
}

.carousel-item:hover .carousel-caption {
    opacity: 0.7;
}

.box {
    background: #dc354573;
    border-radius: 34px;
    box-shadow: inset 0px -32px 33px -13px black;
}
